<h1>Edit Your Info</h1>

<%= form_for(current_user) do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :bio %>
  <%= f.text_area :bio %>

  <%= collection_check_boxes(:user, :topic_ids, Topic.all, :id, :name) %>

  <%= f.submit 'Submit Changes' %>
<% end %>
