<h1>Edit Your Info</h1>
<div class="row text-center">
  <%= form_for(@user) do |f|%>
    <div class="row", style="margin-bottom: 40px">
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :bio %>
      <%= f.text_area :bio %>
    </div>

    <% if @user.tutor? || @user.admin?%>
      <div class="row">
        <h3>Select Your Strong Topics</h3>
        <%= collection_check_boxes(:user, :topic_ids, Topic.all, :id, :name) do |o| %>
          <div style="width: 300px; height:50px; display: inline-block;">
            <%= o.check_box %>
            <%= o.label(style: 'margin-left: 5px;') %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= f.submit 'Submit Changes' %>
  <% end %>
</div>
