<div class="row">
  <h1>Welcome, <%= @user.username %></h1>
  <p><%= @user.name %></p>
  <p><%= @user.bio %></p>

  <% if current_user == @user %>
    <%= link_to 'Edit Info', edit_user_path(@user) %>
  <% end %>
  <div class="strong-topics">
    <h3>Strong Topics</h3>
    <% @user.topics.each do |topic| %>
      <p><%= topic.name %></p>
    <% end %>
  </div>
</div>

<h3>Open Dates</h3>
<%= render partial: 'users/date', collection: @user.tutor_dates %>
