<h3>Enter a time that you're free:</h3>

<%= form_for [@user, @tutor_date]  do |f|%>
  <%= f.label :date %>
  <%= f.datetime_local_field :date %>

  <%= f.label :duration %>
  <%= f.number_field :duration %>

  <%= f.submit 'Submit'%>
<% end %>
